.DropDownWrapper {
    background-color: var(--merun);
    padding: 30px 25px;
    border-radius: 6px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 0.5px solid var(--lightWhite);
}

.DropDownList {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.DropDownItem {
    color: var(--merun);
    font-size: 18px;
    letter-spacing: .8px;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    transition: .4s ease-in-out;
}

.DropDownItem:hover {
    text-decoration-color: var(--merun);
    transition: .4s ease-in-out;
}
