.c {
    max-width: 1520px;
    padding: 0 60px;
    margin: auto;
}

@media (max-width: 1400px) {
    .c {
        padding: 0 50px;
    }
}

@media (max-width: 1200px) {
    .c {
        padding: 0 40px;
    }
}

@media (max-width: 1024px) {
    .c {
        padding: 0 30px;
    }
}

@media (max-width: 750px) {
    .c {
        padding: 0 25px;
    }
}

@media (max-width: 540px) {
    .c {
        padding: 0 20px;
    }
}