/* ===========================
   Nunito
=========================== */

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-Bold.woff2') format('woff2'),
         url('./fonts/Nunito/Nunito-Bold.woff') format('woff'),
         url('./fonts/Nunito/Nunito-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-Medium.woff2') format('woff2'),
         url('./fonts/Nunito/Nunito-Medium.woff') format('woff'),
         url('./fonts/Nunito/Nunito-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-Italic.woff2') format('woff2'),
         url('./fonts/Nunito/Nunito-Italic.woff') format('woff'),
         url('./fonts/Nunito/Nunito-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-Regular.woff2') format('woff2'),
         url('./fonts/Nunito/Nunito-Regular.woff') format('woff'),
         url('./fonts/Nunito/Nunito-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Sansita Regular */
@font-face {
    font-family: 'Sansita';
    src: url('./fonts/Sansita/Sansita-Regular.woff2') format('woff2'),
         url('./fonts/Sansita/Sansita-Regular.woff') format('woff'),
         url('./fonts/Sansita/Sansita-Regular.ttf') format('truetype'),
         url('./fonts/Sansita/Sansita-Regular.eot') format('embedded-opentype'),
         url('./fonts/Sansita/Sansita-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

/* Sansita Bold */
@font-face {
    font-family: 'Sansita';
    src: url('./fonts/Sansita/Sansita-Bold.woff2') format('woff2'),
         url('./fonts/Sansita/Sansita-Bold.woff') format('woff'),
         url('./fonts/Sansita/Sansita-Bold.ttf') format('truetype'),
         url('./fonts/Sansita/Sansita-Bold.eot') format('embedded-opentype'),
         url('./fonts/Sansita/Sansita-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

/* Sansita Italic */
@font-face {
    font-family: 'Sansita';
    src: url('./fonts/Sansita/Sansita-Italic.woff2') format('woff2'),
         url('./fonts/Sansita/Sansita-Italic.woff') format('woff'),
         url('./fonts/Sansita/Sansita-Italic.ttf') format('truetype'),
         url('./fonts/Sansita/Sansita-Italic.eot') format('embedded-opentype'),
         url('./fonts/Sansita/Sansita-Italic.svg') format('svg');
    font-weight: 400;
    font-style: italic;
}
