:root {
    --white: #fff;
    --black: #000;
    --lightWhite: #fcedd1;
    --merun: #781d18;
    --brown: #482603;
    --gray: #DCC5B2;
    --lightGray: #575555;
    --red: #FF0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito";
    font-size: 16px;
    background-color: var(--lightWhite);
    color: var(--merun);
}

body::selection {
    background-color: var(--lightGray);
    color: var(--lightWhite);
}

:global html.mobileMenuOpen {
    overflow-y: hidden;
}

:global html.mobileMenuOpen body::after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9998;
}

/* Common Start */

img {
    width: 100%;
    height: 100%;
}

:global .alignCenter {
    text-align: center;
}

:global .borderRadius10 {
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid var(--merun);
    display: flex;
}

/* Common End */

/* Colors Start */

:global .white {
    color: var(--white);
}

:global .whiteBg {
    background-color: var(--white);
}

:global .lightWhite {
    color: var(--lightWhite);
}

:global .lightWhiteBg {
    background-color: var(--lightWhite);
}

:global .merun {
    color: var(--merun);
}

:global .merunBg {
    background-color: var(--merun);
}

:global .brown {
    color: var(--brown);
}

:global .brownBg {
    background-color: var(--brown);
}

:global .gray {
    color: var(--gray);
}

:global .grayBg {
    background-color: var(--gray);
}

:global .lightGray {
    color: var(--lightGray);
}

:global .lightGrayBg {
    background-color: var(--lightGray);
}

:global .red {
    color: var(--red);
}

:global .redGrayBg {
    background-color: var(--red);
}

/* Colors End */

@media (max-width: 750px) {
    :global html.mobileMenuOpen body::after {
        content: '';
    }
}