.BurgerMenu {
  width: 32px;
  height: 28px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.4s ease;
  display: none;
}

.line {
  width: 100%;
  height: 4px;
  background: var(--lightWhite);
  border-radius: 6px;
  transition: 0.35s ease;
  transform-origin: center;
}

.active .line:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.active .line:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}

.active .line:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

.BurgerMenu:hover .line {
  background: var(--gray);
}

.BurgerMenu:active .line {
  transform: scale(0.96);
}

.mobileMenuOpen {
  background-color: yellow;
}

@media (max-width: 750px) {
  .BurgerMenu {
    display: flex;
  }
}

@media (max-width: 600px) {
  .BurgerMenu {
    width: 30px;
    height: 22px;
  }

  .line {
    height: 2.5px;
  }

  .active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .active .line:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }
}