.section {
    padding: 60px 0;
}

.section.noSectionPad {
    padding: 0;
}

/* Header Drop Down Start */

.DropDownSection {
    position: fixed;
    width: 100%;
    top: -100%;
    transition: top 0.4s ease-in-out;
}

.DropDownSection.mobileMenuOpen {
    top: auto;
}

/* Header Drop Down Start */

@media (max-width: 1400px) {
    .section {
        padding: 50px 0;
    }
}

@media (max-width: 1200px) {
    .section {
        padding: 40px 0;
    }
}

@media (max-width: 1024px) {
    .section {
        padding: 35px 0;
    }
}

@media (max-width: 750px) {
    .section {
        padding: 30px 0;
    }
}

@media (max-width: 540px) {
    .section {
        padding: 25px 0;
    }
}