.section {
    padding: 50px 0;
    position: relative;
}

.section.noSectionPad {
    padding: 0;
}

.headerSection {
    position: fixed;
    width: 100%;
    z-index: 99999;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Header Drop Down Start */

.DropDownSection {
    position: fixed;
    width: 100%;
    top: -100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .8s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Header Drop Down Start */

.parallaxBanner {
    position: relative;
}

.parallaxBanner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
}

@media (max-width: 1400px) {
    .section {
        padding: 45px 0;
    }
}

@media (max-width: 1200px) {
    .section {
        padding: 40px 0;
    }
}

@media (max-width: 1024px) {
    .section {
        padding: 35px 0;
    }
}

@media (max-width: 750px) {
    .section {
        padding: 30px 0;
    }

    .DropDownSection.mobileMenuOpen {
        top: 75px;
        opacity: 1;
        visibility: visible;
        transition: all .8s ease-in-out;
    }

}

@media (max-width: 540px) {
    .section {
        padding: 25px 0;
    }
}
