.swiper-slide-thumb-active .imgWrapper {
    padding: 5px;
    border-color: var(--merun) ;
}

.bottomSwiper .imgWrapper {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 6px;
    position: relative;
}

.topSwiper .swiper-wrapper {
    align-items: center ;
}

.topSwiper {
    background-color: var(--white);
    padding: 20px;
    border-radius: 6px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bottomSwiper {
    background-color: var(--white);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    border-radius: 6px;
}

.productButtonWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.productButton {
    border: 2px solid var(--merun);
    padding: 10px 12px;
    min-width: 60px;
    background-color: var(--lightWhite);
    color: var(--merun);
    cursor: pointer;
    font-weight: 500;
    will-change: transform;
    transition: all 0.3s ease-in-out;
}

.productButton:hover {
    transform: scale(0.9);
}

.productButton.active {
    background-color: var(--merun);
    color: var(--lightWhite);
}

.productPriceWrap {
    display: flex;
    gap: 20px;
    line-height: 1;
}

.oldPrice {
    display: flex;
    align-items: center;
    text-decoration: line-through;
}

.productDescWrap {
    border: 2px solid var(--merun);
    border-radius: 6px;
    padding: 15px;
}

.ingredientsList {
    padding-left: 15px;
}