.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}

.headerNavList {
    display: flex;
    align-items: center;
    gap: 30px;
}

.headerNavItem {
    padding: 40px 0;
    color: var(--lightWhite);
    font-size: 20px;
    letter-spacing: .8px;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    transition: .4s ease-in-out;
}

.headerNavItem:hover {
    text-decoration-color: var(--lightWhite);
    transition: .4s ease-in-out;
}

.mobileMenuOpen {
    background-color: red;
}

@media (max-width: 1400px) {
    .headerNavList {
        gap: 30px;
    }

    .headerNavItem {
        font-size: 18px;
    }
}

@media (max-width: 1200px) {
    .headerNavList {
        gap: 25px;
    }

    .headerNavItem {
        padding: 35px 0;
    }
}

@media (max-width: 1024px) {
    .headerNavList {
        gap: 20px;
    }

    .headerNavItem {
        font-size: 16px;
    }

    .headerNavItem {
        padding: 30px 0;
    }
}

@media (max-width: 750px) {
    .headerNavList {
        display: none;
    }
}