.imageWrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imageWrapper::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--merun);
    z-index: -1;
}

.bannerSlideImage {
    position: relative;
    z-index: 2;
}
