img {
    transition: all 0.3s ease-in-out;
}

.imageWrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bannerSlideImage {
    position: relative;
    z-index: 2;
}

.columnIcon {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-color: var(--white);
    padding: 20px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.parallaxImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -5;
}

.parallaxImage img {
    object-fit: cover;
}

.textAndImageImg {
    width: 50%;
    margin: auto;
    padding: 30px;
    background-color: var(--white);
}

.textAndImageImg img {
    object-fit: contain;
    filter: drop-shadow(0 10px 20px rgba(0,0,0,.3));
}

.GallerySlideImage {
    border-radius: 8px;
    position: relative;
}

.productCardImage {
    width: 50%;
    object-fit: contain;
    margin: auto;
    filter: drop-shadow(0 10px 20px rgba(0,0,0,.3));
}

.contactLogo {
    width: 70%;
    margin: auto;
}

.productCarouselTopImage {
    width: 40%;
    margin: auto;
}

.productCarouselBotImage {
    width: 80px;
    height: 80px;
    border: 2px solid transparent;
    padding: 5px;
    margin: auto;
}

.productCarouselBotImage img {
    object-fit: contain;
}

@media (max-width: 1400px) {
    .columnIcon {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 1200px) {
    .columnIcon {
        width: 85px;
        height: 85px;
    }
}

@media (max-width: 1024px) {
    .columnIcon {
        width: 80px;
        height: 80px;
    }

    .productCarouselBotImage {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 750px) {
    .columnIcon {
        width: 75px;
        height: 75px;
    }

    .productCarouselBotImage {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 540px) {
    .columnIcon {
        width: 70px;
        height: 70px;
    }

    .productCarouselBotImage {
        width: 50px;
        height: 50px;
    }

}