.footerWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footerTopSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerBottomSection {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.socialRow {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.socialIcon {
    font-size: 35px;
    color: var(--lightWhite);
    transition: all 0.4s ease-in-out;
    animation: float 3s ease-in-out infinite;
}

.socialIcon:nth-child(1) { 
    animation-delay: 0s; 
}
.socialIcon:nth-child(2) { 
    animation-delay: .6s; 
}
.socialIcon:nth-child(3) { 
    animation-delay: 1.2s; 
}
.socialIcon:nth-child(4) { 
    animation-delay: 1.8s; 
}

.socialIcon:hover {
    opacity: 0.7;
    transition: all 0.5s;
}


@media (max-width: 1400px) {
    .footerWrapper {
        gap: 28px;
    }

    .socialIcon {
        font-size: 34px;
    }

    .socialRow {
        gap: 36px;
    }
}

@media (max-width: 1200px) {
    .footerWrapper {
        gap: 26px;
    }

    .socialRow {
        gap: 32px;
    }

    .socialIcon {
        font-size: 32px;
    }
}

@media (max-width: 1024px) {
    .footerWrapper {
        gap: 24px;
    }

    .socialRow {
        gap: 28px;
    }

    .socialIcon {
        font-size: 30px;
    }
}

@media (max-width: 750px) {
    .footerWrapper {
        gap: 20px;
    }

    .socialRow {
        gap: 24px;
    }

    .footerBottomSection {
        align-items: center;
        flex-direction: column-reverse;
        row-gap: 26px;
    }

}

@media (max-width: 540px) {}

@keyframes float {
    0%, 100% { 
        transform: translateY(0) scale(.9); 
    }

    50% { 
        transform: translateY(-6px) scale(1);
    }
}
