.mainContent {
    padding-top: 108px;
}

@media (max-width: 1400px) {
    .mainContent {
        padding-top: 104px;
    }
}

@media (max-width: 1200px) {
    .mainContent {
        padding-top: 94px;
    }
}

@media (max-width: 1024px) {
    .mainContent {
        padding-top: 85px;
    }
}

@media (max-width: 750px) {
    .mainContent {
        padding-top: 81px;
    }
}

@media (max-width: 540px) {
    .mainContent {
        padding-top: 77px;
    }
}